## Prueba de Ydata Profiling

### Prueba con la base de vinos no categorica

In [1]:
import pandas as pd
# Cargamos la data
data_red_wine = pd.read_csv('./wine+quality/winequality-red.csv', sep=';')
data_white_wine = pd.read_csv('./wine+quality/winequality-white.csv', sep=';')

In [4]:
# vemos los datos
data_red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [8]:
from ydata_profiling import ProfileReport
# Creamos el reporte
profile_red = ProfileReport(data_red_wine, title="Reporte de Vino Tinto", explorative=True)

In [10]:
#vemos el reporte en html
profile_red.to_file("reporte_vino_tinto.html")

Summarize dataset:  59%|█████▉    | 10/17 [00:00<00:00, 128.22it/s, Describe variable: quality]

100%|██████████| 12/12 [00:00<00:00, 155.06it/s]
Summarize dataset: 100%|██████████| 165/165 [00:13<00:00, 12.49it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.90s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.11it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 48.08it/s]

### Prueba con variables categoricas

In [28]:
# cargamos la nueva data

apt_data = pd.read_csv(
    './apartment_data/apartments_for_rent_classified_10K.csv',
    encoding='cp1252',
    engine='python',        # parser más tolerante
    sep=';',                # ajusta si el separador no es coma
    quotechar='"',          # o cambia si el archivo usa otro
    on_bad_lines='skip'     # o 'warn' para depurar
)

apt_data.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,...,$790,Monthly,101,NaN,Washington,DC,38.9057,-76.9861,RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,...,$425,Monthly,106,814 Schutte Rd,Evansville,IN,37.9680,-87.6621,RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,...,"$1,390",Monthly,107,NaN,Arlington,VA,38.8910,-77.0816,RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,...,$925,Monthly,116,1717 12th Avenue,Seattle,WA,47.6160,-122.3275,RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,...,$880,Monthly,125,NaN,Arlington,VA,38.8738,-77.1055,RentLingo,1577359401

In [29]:
from ydata_profiling import ProfileReport
# Creamos el reporte
profile_apt = ProfileReport(apt_data, title="Reporte de Apartamentos", explorative=True)
#vemos el reporte en html
profile_apt.to_file("reporte_apartamentos.html")

100%|██████████| 22/22 [00:02<00:00, 10.83it/s]2<00:00, 16.02it/s, Describe variable: time]
Summarize dataset: 100%|██████████| 96/96 [00:08<00:00, 10.72it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.15s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  3.55it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 97.09it/s]